// =============================================================================
// MIXINS
// =============================================================================

// Clearfix
@mixin clear {zoom:1;
	&:before, &:after {content:'';display:table;position:relative;}
	&:after {clear:both}
}

// VENDOR PREFIXES
@mixin vendor($attribute, $value) {
	-ms-#{$attribute}: $value;
	-o-#{$attribute}: $value;
	-moz-#{$attribute}: $value;
	-webkit-#{$attribute}: $value;
	#{$attribute}: $value;
}

@mixin optus-icon($content) {
	transition: transform .3s;
	font-family: lux-icons;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	text-decoration: none;
	text-transform: none;
	content:$content;
	float:right;
}

// Media Queries
@mixin breakpoint($point) {
	@if $point == tablet {
		@media only screen and (min-width: 768px) { @content; }
	}
	@else if $point == desktop {
		@media only screen and (min-width : 1024px) { @content; }
	}
}

@mixin reverseBreakpoint($point) {
	@if $point == mobile {
		@media only screen and (max-width: 767px) { @content; }
	}
	@else if $point == tablet {
		@media only screen and (max-width : 1024px) { @content; }
	}
}