// .swiper-pagination-bullets {
// 	text-align: center;
// 	margin-bottom: 10px;
// }


// span.swiper-pagination-bullet {
//     display: inline-block;
//     border: 1px solid $grey;
//     margin-right: 120px;
//     width: 20px;
//     height: 20px;
// }
