// VARS - LAYOUT
$containerWidth: 1100px;
$gutterWidth: 60px;
$innerPadding: 15px;


// COLORS
$teal: #00a3ad;
$yellow: #fecb31;
$blue: #006280;
$lightgrey: #f1f4f6;
$middlegrey: #e3e9ec;
$pink: #FF6273;
$grey: #CBD1D5;
$darkteal: #0b627f;
$purple: #444292;
$green: #85C858;
$darkgrey: #999;
$lgtgreen: #eef9ed;
$white: #fff;
$black: #000;
$jade:#006280;
$berry: #80276C;
$purple: #444292;
$red :#d93a1b;
$blue:#187D9A;

// COLOR - TEXT
$text-color: #333333;


// span.swiper-pagination-bullet {
//     display: inline-block;
//     border: 1px solid $grey;
//     margin-right: 20px;
//     width: 15px;
//     height: 15px;
//     border-radius: 20px;
//     outline : none;
//     &.swiper-pagination-bullet-active{
//         border: 1px solid $pink;
//         background-color: $pink;
//     }
//     &:first-child {
//         margin-left:-250px
//     }
// }
#product-image,
#plan-builder{
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction{
        bottom: -5px !important;
    }
    

    .swiper .swiper-button-next,
    .swiper .swiper-button-prev{
        color: $teal;
        background: $white !important;
    }

    .swiper-slide{
        &.swiper-slide-next{
            text-align: left;
        }
        &.swiper-slide-prev{
            text-align: right;
        }
    }

    
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 100%;
        border: 1px solid $grey;
        background: $white;
        opacity: 1;
        &.swiper-pagination-bullet-active {
            background: $pink;
        }
    }

    swiper > .swiper.s-wrapper .swiper-pagination .swiper-pagination-handle .swiper-pagination-bullet.swiper-pagination-bullet-last,
    swiper > .swiper.s-wrapper .swiper-pagination .swiper-pagination-handle .swiper-pagination-bullet.swiper-pagination-bullet-first{
        border: 1px solid $grey;
        margin: initial;
    }
}
#build-plan{
    swiper > .swiper.s-wrapper {
        max-height: 75px;
    }


    swiper > .swiper.s-wrapper .swiper-wrapper .swiper-slide {
        overflow: hidden;
        height: auto;
    }

    .swiper-wrapper {
        height: auto;
    }
    
    .swiper .swiper-button-next,
    .swiper .swiper-button-prev{
        background: $jade!important;
        top: 50%;
        height: 24px;
        width: 24px;
        transform: translateY(50%);
        &:before {
            font-size: 24px;
            line-height: 1;
        }
    }
}

.planStep {
    h3 {
        font-family: MarkPro-Heavy;
        font-size: 1.25rem;
        line-height: 1.2;
        .sub-heading {
            font-family: MarkPro;
        }
    }
}

#device-carousel{
    .swiper{
        .swiper-button-prev:before,
        .swiper-button-next:before {
            padding-top: 8px;
        }

        .swiper-button-next,
        .swiper-button-prev {
            background: $black !important;
            opacity: .5;
            border-radius: 15%;
            height: 54px;
            margin-top: 50px;
        }
    } 
}

.gradient-left {
    background: linear-gradient(to right,#000 0,rgba(0,0,0,.738) 19%,rgba(0,0,0,.541) 34%,rgba(0,0,0,.382) 47%,rgba(0,0,0,.278) 56.5%,rgba(0,0,0,.194) 65%,rgba(0,0,0,.126) 73%,rgba(0,0,0,.075) 80.2%,rgba(0,0,0,.042) 86.1%,rgba(0,0,0,.021) 91%,rgba(0,0,0,.008) 95.2%,rgba(0,0,0,.002) 98.2%,transparent 100%);
    position: absolute;
    width: 200px;
    height: 100%;
    top: -1px;
    left: -1px;
    z-index: 100;
}

#interactive-timeline .gradient-right {
    background: linear-gradient(to left,#000 0,rgba(0,0,0,.738) 19%,rgba(0,0,0,.541) 34%,rgba(0,0,0,.382) 47%,rgba(0,0,0,.278) 56.5%,rgba(0,0,0,.194) 65%,rgba(0,0,0,.126) 73%,rgba(0,0,0,.075) 80.2%,rgba(0,0,0,.042) 86.1%,rgba(0,0,0,.021) 91%,rgba(0,0,0,.008) 95.2%,rgba(0,0,0,.002) 98.2%,transparent 100%);
    position: absolute;
    width: 200px;
    height: 100%;
    top: -1px;
    right: -1px;
    z-index: 100;
}

.tooltip-link {
    font-size: 0.75rem;
}