#site-header {
	min-height: 400px;
	background-color: #00A3AE;
	background-repeat: no-repeat;
	background-size:cover;
	background: linear-gradient(to right, #00A3AE 22%, rgba(0, 0, 0, 0) 54%, #00A3AE 98%), url(../../assets/HeaderImage.jpg) calc(50% - 65%) center;

	a{
        height:40px;
    }
    a img{
        height:20px;
	}
	@media only screen and (max-width: 767px){
        nav:first-child, #site-header nav:first-child {
            flex: 0 0 100%;
		}
		background-size: 100%;
		min-height: 180px;
	}	
	@media only screen and (max-width: 1023px) and (min-width: 767px){
		min-height: 320px;
		background: linear-gradient(to right, #00A3AE 22%, rgba(0, 0, 0, 0) 70%, #00A3AE 98%), url(../../assets/HeaderImage.jpg) calc(50% - 25%);
    }	
}