@import "./sass/variables";
// @import "./fonts";
// @import "./functions";
@import "./sass/mixins";
@import "./sass/reset";
@import "./sass/optus-icons";
//General
body {
	font-family:MarkPro;
	color:$text-color;
	//margin:0;
}
a {
	color:$blue;
	font-family: MarkPro-Bold;
	cursor:pointer;
}
a:not([href]):not([tabindex]) {
	color:$blue;
	font-family: MarkPro-Bold;
	cursor:pointer;
}
h1, h2, h3, h4, b, strong {
	font-family:MarkPro-Bold;
}
button, a.button {
	border:none;
	outline:none;
	cursor:pointer;
	font-family:MarkPro-Bold;
	//text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	background:$grey;
	display:block;
	padding:10px 0;
	-webkit-appearance:none;

	&.yellow {
		background:$yellow;
	}
	&.teal {
		background:$teal;
		color:#fff !important;
	}
	&.white {
		background:#fff;
		border:2px solid $teal;
		color:$teal !important;
	}
	&.grey {
		background:#fff;
		border:2px solid $darkgrey;
		color:$black;
	}
	&.inline {
		width:auto;
		display:inline-block;
		padding-left:$innerPadding;
		padding-right:$innerPadding;
	}
	&.outline {
		background:none;
		border:2px solid #fff;
		color: #fff;
		padding: 6px 0;
	}
	&:focus {
	    outline: none;
	}
}
img {
	max-width:100%;
	&.round {
		border-radius:50%;
	}
}
hr {
	margin:$gutterWidth 0;
}
details, .details {
	border-bottom:1px solid $grey;
	padding:$innerPadding $innerPadding*2 $innerPadding 0;
}
details:not([open]), .details:not([open]) {
	min-height:0 !important;
}
summary {
	list-style:none;
	outline:none;
	@include clear;

	img {
		float:left;
		max-height:50px;
		margin-right:$innerPadding;
	}
	&.muted {
		opacity:.2;
	}
}
summary::-webkit-details-marker {
  background:transparent;
  color:transparent;
  position:absolute;
  right:$innerPadding;
  border-left:2px solid $grey;
  border-bottom:2px solid $grey;
  transform:rotate(-45deg);
  cursor:pointer;
}
details[open] summary::-webkit-details-marker {
	transform:rotate(135deg);
}
section {
	margin-top:$gutterWidth;
	margin-bottom:$gutterWidth;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
	width:100%;
}

.center {
	text-align:center;
}
.flex {
	display:flex;
	flex-flow: row wrap;
	justify-content:center;
	align-items:center;
}
.swiper-container {
	box-sizing:border-box;
	padding:0;
	height:auto !important;
}
.hidden {
	display:none;
}
.product-header-left {
	#thumb-swiper {
		.swiper-wrapper {
			height: 500px !important;
			.swiper-slide {
				height: 500px !important;
				img {
					max-height: 450px;
				}
			}
		}
	}
}
.ico-5g {
	background: url(https://image.exacttarget.com/lib/fe9412727565007a72/m/22/ico-5g.png) left center no-repeat;
	background-size: 30px;
	width: 30px;
	height: 24px;
}

.underlined {
	border-bottom:1px solid $grey;
}
#site-header, #flybuys-header, #partnership-header {
	background:$teal;
	color:#fff;
	padding-top:20px;
	margin-bottom:0;

	
	nav {
		background:#000;
		position:static;
		margin-bottom:32px;
		a {
			height:42px;
			line-height:42px;
			display:block;
		}
		>ul {
			padding:0;
			margin:0;
			li {
				display:inline-block;
				a {
					color:$grey;
					text-decoration:none;
					text-transform:uppercase;
					font-family:MarkPro-Bold;
					font-size:.7rem;
					padding:0 8px;
				}
				>ul {
					display:none;
				}
				&.active {
					>a {
						color:#fff;
						position:relative;
						&:before {
							content:'';
							width:0;
							height:0;
							border:10px solid transparent;
							border-bottom-color:#fff;
							display:block;
							position:absolute;
							bottom:0;
							left:50%;
							margin-left:-10px;
						}
					}
					>ul {
						padding:0;
						margin:0;
						display:block !important;
						background:#fff;
						height:32px;
						width:100%;
						left:0;
						top:42px;
						position:absolute;
						display:none;

						li {
							a {
								height:32px;
								line-height:32px;
								color:$text-color;
							}
						}
					}
				}

				&.dropdown {
					position:relative;
					ul {
						position:absolute;
						right:0;
						left:auto;
						width:200px;
						height:auto;
						z-index:999;
						//box-shadow:0 2px 10px rgba(0,0,0,0.4)

						li {
							display:block;
							&:hover {
								background:$lightgrey;
							}
							.ico {
								left:10px;
							}
						}
					}
				}
			}
		}
		>a{
			//flex:0 100%;
			text-align:center;
			img {
				margin-bottom:4px;
			}
		}
		img {
			//margin-top:12px;

			&.velocity {
				margin-top:4px;
			}
		}
		&:last-child {
			ul {
				text-align:right;
				
				a {
					padding-left:24px;
					position:relative;
				}
				.ico {
					font-size:20px;
					position:absolute;
					left:0;
					bottom:0;
					&.ico-search {
						font-size:28px;
					}
					&.ico-log-in {
						font-size:16px;
					}
				}
			}
		}
	}

	h1 {
		font-family: MarkPro-Heavy;
		font-size:2.5rem;
		margin:0;
	}
	
	.sub-heading {
		font-size: 1rem;
		line-height: 1.25;
	}

@include breakpoint('tablet') {
	margin-bottom:$gutterWidth;
	
	.menu-toggle {
		display:none;
	}
	.sub-heading {
		font-size: 1.5rem;
	}	
	nav {
		display:block;
	}
	
}
@include breakpoint('desktop') {
	h1 {
		font-size: 3rem;
	}
}
@include reverseBreakpoint('mobile') {

	h1 {
		font-size:2rem;
	}
	
	.nolinks nav a {
		height:auto;
	}

	.menu-toggle {
		color:#fff;
		font-size:30px;
		width:40px;
		background:#000;
		float:left;
		padding:0;
		height:70px;
		line-height:70px;
	}

	nav {
		background:#000;
		position:static;
		margin-bottom:32px;
		flex:0 0 25%;

		&:first-child {
			flex:0 0 75%;
		}
		&:nth-child(2) {
			display:none;
		}
		a {
			height:24px;
			line-height:24px;
			display:block;
		}
		>ul {
			padding:10px 0 0;
			margin:0;
			li {
				display:inline-block;
				a {
					color:$grey;
					text-decoration:none;
					text-transform:uppercase;
					font-family:MarkPro-Bold;
					font-size:.7rem;
					padding:0 8px;
				}
				>ul {
					display:none;
				}
				&.active {
					>a {
						color:#fff;
						position:relative;
						&:before {
							display:none;
						}
					}
					>ul {
						padding:0;
						margin:0;
						display:block !important;
						background:#fff;
						height:auto;
						z-index:99;
						width:100%;
						left:0;
						top:70px;
						position:absolute;
						display:none;

						li {
							display:block;
							a {
								height:32px;
								line-height:32px;
								color:$text-color;
								border-bottom:1px solid $grey;
								padding:0 $innerPadding;
							}
						}
					}
				}

				&.dropdown {
					position:relative;
					ul {
						position:absolute;
						right:0;
						left:auto;
						width:200px;
						height:auto;
						z-index:999;
						//box-shadow:0 2px 10px rgba(0,0,0,0.4)

						li {
							display:block;
							&:hover {
								background:$lightgrey;
							}
							.ico {
								left:10px;
							}
						}
					}
				}
			}
		}
		>a{
			//flex:0 100%;
			text-align:center;
			img {
				margin-bottom:4px;
			}
		}
		img {
			margin-top:12px;
		}
		&:last-child {
			ul {
				text-align:right;
				
				a {
					position:relative;
					width:28px;
					padding:0;
					overflow:hidden;
					text-align:left;
				}
				li.active {
					&:before {
						content:'';
						width:0;
						height:0;
						border:10px solid transparent;
						border-bottom-color:#fff;
						display:block;
						position:absolute;
						bottom:0;
						left:50%;
						margin-left:-15px;
						top:15px;
					}
				}
				li ul {
					top:35px;
					.ico {
						margin-right:10px;
					}
					a {
						width:auto;
						border:none;
					}
				}
				.ico {
					font-size:20px;
					position:static;
					left:0;
					bottom:0;
					&.ico-search {
						font-size:28px;
					}
					&.ico-log-in {
						font-size:16px;
					}
				}
			}
		}
	}

	.closed {
		button {
			height:42px;
			line-height:42px;
		}
		nav {

			&:first-child {
				flex:0 0 20%;
				ul {
					display:none;
				}
			}
			&:nth-child(2) {
				flex:0 0 60%;
				display:block;
			}
			&:nth-child(3) {
				flex:0 0 20%;
				ul {
					display:none;
				}
			}
		}
	}
}}
.highlite {
	position: relative;
	z-index:10;
	&:after {
		background: $jade;
		width: calc(100% + 8px);
		content: ' ';
		position: absolute;
		left: -5px;
		z-index: -1;
		bottom: 4px;
		height: 60%;
	}
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
